<section class="u-py-100 u-h-100vh parallax">
   <div class=container>
   <div class=row>
      <div class="text-center col-12 u-mt-80">
         <div class="text-center col-12 u-mt-80">
            <% if current_user %>
            <a class=text-white>You are logged in as <%= @current_user_name %></a>
            <h1>      
                  <span class="text-purple" data-type="paultrindinh.com"></span>
                  <span class="typed-curcor">|</span>
            </h1>
            <% else %>
                  <br>
            <h1>      
                  <span class="text-purple" data-type="paultrindinh.com"></span>
                  <span class="typed-curcor">|</span>
            </h1>
            <% end %>
            <div class="rounded u-h-4 u-w-50 bg-white mx-auto my-4"></div>
            </div>
         <h1>
            <a href= "https://www.linkedin.com/in/paul-trin-dinh-508537b9/" target="_blank" class="fa fa-linkedin fa-2x ld ld-swim" style="animation-duration:10.5s; margin: 15px;"></a>
            <a href="https://github.com/askprod" class="fa fa-github fa-2x ld ld-swim" target="_blank" style="animation-duration:13.6s; margin: 15px; animation-direction:reverse;"></a>
            <a href="https://www.youtube.com/channel/UCannubKEMZ5ANNN6s9atH-A" class="fa fa-youtube fa-2x ld ld-swim" target="_blank" style="animation-duration:11.2s; margin: 15px;"></a>
            <a href="https://www.instagram.com/askstreetphotography/" class="fa fa-instagram fa-2x ld ld-swim" target="_blank" style="animation-duration:9.9s; margin: 15px; animation-direction:reverse;"></a>
            <a href="https://www.soundcloud.com/askprod" class="fa fa-soundcloud fa-2x ld ld-swim" target="_blank" style="animation-duration:12.9s; margin: 15px; animation-direction:reverse;"></a>         
         </h1>
      </div>
   </div>
</section>
