	<section class="u-pt-md-100 u-pb-md-70">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="media align-items-center justify-content-center">
						<span class="fa fa-mobile u-fs-6-lg0 t u-fs-40 text-primary mr-3"></span>
						<div class="media-body">
							<p class="u-fs-lg-24 color-heading mb-1">+33783227930</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="media align-items-center">
						<span class="fa fa-envelope u-fs-6-lg0 t u-fs-40 text-primary mr-3"></span>
						<div class="media-body">
							<p class="u-fs-lg-24 color-heading mb-1">paultrindinh@icloud.com</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="media align-items-center">
						<span class="fa fa-map-pin u-f-lgs-6 u-fs-40 text-primary mr-3"></span>
						<div class="media-body">
							<p class="u-fs-lg-24 color-heading mb-1">France</p>
						</div>
					</div>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mx-auto text-center">
					<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
					<p>
						You can also fill out this form for any type of inquiries.
					</p>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-lg-8 mx-auto text-center">
					<form action="#" method="POST">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
									<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding ">
										<span class="icon icon-User text-primary"></span>
									</div>
									<input type="text" class="form-control border-0 p-3" placeholder="Your fullname" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
									<div class="input-group-addon bg-white border-0 pl-3 pr-3 icon-padding ">
										<span class="icon icon-Mail text-primary"></span>
									</div>
									<input type="text" class="form-control border-0 p-3" placeholder="Your email" required>
								</div>
							</div>
						</div>
						<textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6" placeholder="Your text..." required></textarea>
						<button class="btn btn-primary u-w-170" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</section>